/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap'); /* elsie */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); /* staatliches */
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap'); /* glass antiqua */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap'); /* golos text */


/* #region HAMBURGER */

.navbar-toggler {
  top: 3rem;
  left: 1rem;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'%3e%3c/path%3e%3c/svg%3e");
}

/* #endregion */

/* #region IMG & BACKGROUNDS */

.header-bg {
  background-image: url(images/pixels/skybg-purple.png);
  background-repeat: repeat;
  background-size: auto 100%;
  height: 100vh;
}

.logo-large {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 3%;
}

/* #endregion */

/* #region UL LI */

li {
  font-family: 'Staatliches', sans-serif;
  font-size: 15pt;
}
li a:hover, li a:focus {
  color: #FFE200 !important;
}

/* #endregion */

/* #region ABOUT */

.about-bg {
  background-image: url(images/About_BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

#About h2 {
  font-family: 'Elsie', cursive;
  font-size: 33pt;
  margin-bottom: 20px;
}

#About p {
  font-family: 'Staatliches', sans-serif;
  font-size: 18pt;
  line-height: 208%;
  letter-spacing: 1.3px;
}

/* #endregion */

/* #region PRODUCT */

.product-bg {
  background-color: #17172F;
  padding: 100px 0;
}

#product h2 {
  font-family: 'Elsie', cursive;
  font-size: 33pt;
  margin-bottom: 20px;
}

#product p {
  font-family: 'Staatliches', sans-serif;
  font-size: 18pt;
  line-height: 208%;
  letter-spacing: 1.3px;
}

/* BUTTON SHOP NOW */
.btn, .btn:hover, .btn:focus {
  background-color: #3F3F7D !important;
  border-color: #3F3F7D !important;
  font-family: 'Staatliches', sans-serif !important;
  font-size: 30px !important;
  letter-spacing: 1.65px !important;
}

.btn:hover, .btn:focus {
  opacity: 0.9;
}

/* #endregion */
