/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap'); /* elsie */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); /* staatliches */
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap'); /* glass antiqua */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap'); /* golos text */

/* variables */
:root {
  --main-color-light: #5656AD;
  --main-color-dark: #3F3F7D;
  --accent-green: #71F4BC;
  --accent-yellow: #FFE200;

  --body-font: 1rem;
  --header-font: 2rem;
}

/* * {
  border: 1px solid red;
} */

/* #region HAMBURGER */

.navbar-toggler {
  top: 1rem;
  left: 2.5rem;
}

.navbar-toggler-icon {
  height: 30px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'%3e%3c/path%3e%3c/svg%3e");
}

/* Logo adjustments */
.navbar-brand img {
  width: 175px;
  min-width: 80px;
}

/* Adjust logo size for smaller screens */
@media (max-width: 768px) {
  .navbar-brand img {
    width: 125px; /* smaller size for mobile screens */
  }
}

/* Adjust nav items for medium and smaller screens */
@media (max-width: 992px) {
  .navbar-nav .nav-item {
    margin-top: 0.5rem;
  }
}

/* #endregion */

/* #region IMG & BACKGROUNDS */

.header-bg {
  background-image: url(images/pixels/skybg-purple.png);
  background-repeat: repeat;
  background-size: auto 100%;
  height: 100%;
}

.logo-large {
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  width: 100%;
  padding-left: 3%;
  padding-bottom: 5%;
}

/* #endregion */

/* #region BODY */

  body, a:hover {
    cursor: url(https://springhole.net/pixelart/cursors/wand_mc_style-a_earth.gif),
    progress !important;
  }

/* #endregion*/

/* #region UL LI */

li {
  font-family: 'Staatliches', sans-serif;
  font-size: 15pt;
}
li a:hover, li a:focus {
  color: var(--accent-green) !important;
}

/* #endregion */

/* #region ABOUT */

.about-bg {
  background-image: url(images/About_BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

#About h2 {
  font-family: 'Elsie', cursive;
  font-size: var(--header-font);
  margin-bottom: 20px;
}

#About p {
  font-family: 'Staatliches', sans-serif;
  font-size: var(--body-font);
  line-height: 208%;
  letter-spacing: 1.3px;
}

/* #endregion */

/* #region PRODUCT */

.product-bg {
  background-color: #17172F;
  padding: 100px 0;
}

#product h2 {
  font-family: 'Elsie', cursive;
  font-size: var(--header-font);
  margin-bottom: 20px;
}

#product p {
  font-family: 'Staatliches', sans-serif;
  font-size: var(--body-font);
  line-height: 208%;
  letter-spacing: 1.3px;
}

/* BUTTON SHOP NOW */
.btn, .btn:hover, .btn:focus {
  background-color: #3F3F7D !important;
  border-color: #3F3F7D !important;
  font-family: 'Staatliches', sans-serif !important;
  letter-spacing: 1.65px !important;
}

.btn:hover, .btn:focus {
  opacity: 0.9;
}

/* #endregion */

/* #region FEATURED */

.featured-bg {
  background-color: #3F3F7D;
}

.logo-container img.img-fluid {
  object-fit: contain;
}

.logo-container img.draco {
  max-width: 35%;
}

.logo-container img.trunk {
  max-width: 60%;
}

.logo-container img.hbm {
  max-width: 100%;
}

.logo-container img.soap {
  max-width: 35%;
}

/* mobile */
@media (max-width: 767.98px) {
  .logo-container {
    height: auto !important;
    margin-bottom: 24px !important;
  }

  .logo-container img.img-fluid {
    max-width: 30% !important;
  }
}

/* tablet */
@media (max-width: 992px) {
  .logo-container {
    height: auto !important;
    margin-bottom: 24px !important;
  }

  .logo-container img.img-fluid {
    max-width: 40% !important;
  }
}

/* #endregion */

/* #region CONTACT US */

.contact-bg {
  background-image: url(images/pixels/skybg-green.png);
  background-repeat: repeat;
  background-size: auto 100%;
}

#contact h2 {
  font-family: 'Elsie', cursive;
  font-size: 2.5rem;
}

#contact .btn {
  background-color: #673A27 !important;
  border-color: #673A27 !important;
  letter-spacing: 1.65px !important;
}

#contact .form-label {
  font-family: 'Elsie', cursive;
  font-size: 1.2rem;
  line-height: 208%;
  letter-spacing: 1.3px;

  margin-bottom: 0;
}

/* #endregion */

/* #region FOOTER */

footer.container-fluid {
  background-color: #17172F;
}

.fab {
  color: white;
  font-size: 1.5rem;
}

.small-icon {
  font-size: 2rem;
}

.list-group-horizontal > li:not(:last-child) {
  margin-right: 20px;
}

/* #endregion */

/* #region SHOP */

.shop-bg {
  background-image: url(images/backgrounds/shop_BG_starsky.gif);
  background-repeat: repeat;
  box-shadow: inset 0 0 0 1000px rgba(9, 16, 69, 0.577);
}

.cards {
  margin: 0 auto;
  text-align: center;
	/* display: -webkit-flex; */
	display: flex;
  border-radius: 10px;
	-webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.cards:hover {
  box-shadow: 0 4px 10px rgba(5, 2, 56, 0.733), 0 4px 10px rgba(0, 0, 0, 0.806);
}

.product-title {
  font-family: 'Staatliches', sans-serif;
  font-size: var(--header-font);
  color: var(--main-color-light)
}

.product-body {
  font-size: 12px;
  font-family: 'Elsie', cursive;
}

.product-price {
  color: var(--accent-green);
  font-weight: bold;
  font-family: 'Elsie', cursive;
}

/* #endregion */

/* #region CART */

.cart-bg {
  background-image: url(images/backgrounds/shop_BG_starsky.gif);
  background-repeat: repeat;
  box-shadow: inset 0 0 0 1000px rgba(9, 16, 69, 0.577);
  min-height: 100%;
}

.table {
  border-collapse: collapse;
}

th {
  color: white;
  background: var(--main-color-dark);
  font-weight: normal;
}

td a {
  color: var(--accent-green);
  font-size: 12px;
  text-decoration: none;
}

.border-top.sub-border {
  border-top-color: var(--main-color-dark) !important;
}

/* #endregion */
